/*********** Media Queries styles start here *************/
@media screen and (max-width: 576px) {
    nav, section {
        padding: 20px 20px;
    }
    .button-container {
        flex-direction: column;
    }
    .hero,
    .run-container {
        flex-direction: column;
    }
    .nav-lists {
        display: none;
    }
    .navbar-icon {
        display: block;
    }
    .hero-content {
        max-width: 100%;
        margin-right: 16px;
    }
    .hero-title {
        font-size: 3.5rem;
    }
    .badge-500 {
        top: 45px;
        right: -28px;
    }

    .badge-350 {
        bottom: 240px;
        left: -15px;
    }

    .habit-card-container {
        margin-top: 50px;
        grid-template-columns: 1fr;
    }

    .section-run-content {
        margin-right: 20px;
    }

    .bmi-calculator .section-heading {
        margin-left: 18px;
    }

    .calculator-container {
        flex-direction: column;
        padding: 50px 20px;
    }

    .calculator-chart{
        width: 100%;
    }

    .team-image-container {
        grid-template-columns: 1fr;
    }


    /* footer */
    .footer-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    nav, section {
        padding: 20px 20px;
    }
    .hero {
        flex-direction: column;
    }
    .hero-content {
        max-width: 70%;
    }
    .hero-title {
        font-size: 4rem;
    }

    .habit-card-container {
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
    }
    .habit-card {
        max-width: 80%;
    }

    .section-run-content {
        margin-right: 40px;
    }
    .bmi-calculator .section-heading {
        margin-left: 18px;
    }

    .calculator-container {
        flex-direction: column;
        padding: 50px 20px;
    }

    .calculator-chart{
        width: 100%;
    }

    .team-image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .footer-container .nav-brand {
        grid-column: 1 / span 2;
    }

}